{% extends 'base.html' %}

{% block title %}SMART WATER TANK - HOME {% endblock %}

{% block content %}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
     <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Real-Time Monitor</h1>
                <!-- <h6 class="text-center">Please enter your username and password</h6>                 -->

                 <!-- TEST WEBSOCKET MESSAGES:
                <textarea id="account-log" cols="100" rows="10"></textarea>
                <input id="account-message-input" type="text" size="100"><br>
                <input id="account-message-submit" type="button" value="Send"> -->

            </div>
        </div>
    </div>   
</section>

<section class="explore-section section-padding" id="section_2">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Tanks</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">My Statistics</button>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    
                    <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                        <div class="row">

                            {% for tank in water_tanks %}                            
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-4 mb-lg-3 tank-chart">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="javascript:void(0);">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ tank.name }}</h5>
                                                </div>

                                                <span class="badge bg-design rounded-pill ms-auto">{{ owner_topic }}</span>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-md-8 col-sm-12">
                                                    <canvas id="tankChart_{{ tank.id }}"></canvas>
                                                </div>
                                                <div class="col-md-4 col-sm-12 d-flex align-items-center">
                                                    <div>
                                                        <h6>Pump</h6>
                                                        <p>Status: <span data-pump-topic="{{ tank.topic.pump_status }}" id="pumpStatus{{ forloop.counter }}">{{ tank.pump_status }}</span></p>

                                                        <button data-pump-topic="{{ tank.topic.pump_status }}" id="togglePump{{ forloop.counter }}" class="btn btn-{% if tank.pump_status == 'On' %}success{% else %}danger{% endif %}">Toogle Pump</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                <div class="custom-block bg-white shadow-lg">
                                    <a href="topics-detail.html">
                                        <div class="d-flex">
                                            <div>
                                                <h5 class="mb-2">Advertising</h5>
                                                <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>
                                            </div>
                                            <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                                        </div>
                                        
                                        <!-- <img src="images/topics/undraw_online_ad_re_ol62.png" class="custom-block-image img-fluid" alt=""> -->
                                    </a>
                                </div>
                            </div>                         
                            
                            
                            
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

{{ owner_topic|json_script:"owner-topic" }}
<script type="text/javascript">

    // Define custom colors using CSS variables
    var primaryColor = getComputedStyle(document.documentElement).getPropertyValue('--primary-color');
    var secondaryColor = getComputedStyle(document.documentElement).getPropertyValue('--secondary-color');

    // chart canvas instances
    var chartInstances = {};
    
    // Logged in user institution uniques MQTT
    ownerTopic = JSON.parse(document.getElementById('owner-topic').textContent);

    let socket; // Declare a global variable for the WebSocket connection
    let reconnectTimeout = null;

    function connectWebSocket() {
        return new Promise((resolve, reject) => {
            if (!socket || socket.readyState !== WebSocket.OPEN) {
                socket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/account/'
                    + ownerTopic
                    + '/'
                );

                socket.onopen = function () {
                    console.log("WebSocket connection established.");
                    clearTimeout(reconnectTimeout); // Clear any previous reconnect attempts
                    resolve(socket); // Resolve the promise with the WebSocket instanc
                };

                socket.onmessage = function (event) {
                    const { message } = JSON.parse(event.data);
                    console.log(message);

                    let topicParts = message?.topic?.split("/");
                    if (topicParts?.length > 0){
                        let messageAction = topicParts[topicParts.length - 1];

                        if(messageAction == 'CurrentLevel'){

                            // Update chart water level
                            updateSpecificTankChart(message?.data);
                        } else if(messageAction == 'PumpStatus'){

                            // UPDATE PUMP STATUS
                            updatePumpStatus(message);
                        } else {}
                    }
                    // document.querySelector('#account-log').value += (message.payload + '\n');
                };

                socket.onclose = function (event) {
                    if (event.wasClean) {
                        console.log("WebSocket connection closed cleanly, code=" + event.code + ", reason=" + event.reason);
                    } else {
                        console.error("WebSocket connection died");
                    }

                    // Reconnect with exponential backoff
                    const delay = calculateExponentialBackoffDelay();
                    console.log(`Reconnecting in ${delay} milliseconds...`);
                    reconnectTimeout = setTimeout(connectWebSocket, delay);
                };
            } else {
                resolve(socket); // Resolve the promise with the existing WebSocket instance
            }
        });
    }

    function sendMessage(message) {
        let dialog = bootbox.dialog({
            message: '<p class="text-center mb-0"><i class="bi bi-gear spinning-icon"></i> Please wait while we do something...</p>',
            closeButton: false
        }).on("shown.bs.modal", function () {
            
            connectWebSocket()
            .then((socket) => {
                socket.send(JSON.stringify({
                    'message': message
                }));
            })
            .catch((error) => {
                console.error("Error sending message:", error);
            }).finally(() => {
                dialog.modal('hide');
            });

        });
    }

    function calculateExponentialBackoffDelay() {
        // Define your exponential backoff strategy here.
        // For example, you can double the delay each time.
        // Start with a minimum delay and set a maximum delay.
        const minDelay = 1000; // 1 second
        const maxDelay = 60000; // 60 seconds

        if (!this.backoffDelay || this.backoffDelay < minDelay) {
            this.backoffDelay = minDelay;
        } else {
            this.backoffDelay *= 2;
            if (this.backoffDelay > maxDelay) {
                this.backoffDelay = maxDelay;
            }
        }

        return this.backoffDelay;
    }

    function setTanksData(){

        // Get the current percentage data from Django context
        var waterTanks = {{ water_tanks|safe}};

        // Create a Chart.js chart for each tank
        $.each(waterTanks, function(key, tank){
            // var ctx = document.getElementById(`tankChart_${tank.id}`).getContext('2d');
            var ctx = $(`#tankChart_${tank.id}`)[0].getContext('2d');
            var chart = new Chart(ctx, {
                type: 'doughnut', // Use a doughnut chart to represent tank filling
                data: {
                    labels: ['Filled', 'Empty'],
                    datasets: [{
                        data: [tank.percentage, 100 - tank.percentage],
                        backgroundColor: [secondaryColor, 'lightgray'],
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: tank.name,
                    },
                    legend: {
                        display: true,
                    },
                    plugins: {
                        datalabels: {
                            display: true,
                            formatter: function(value, context) {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value + '%';
                            },
                            color: 'white',
                        }
                    },
                    tooltips: {
                        enabled: false, // Disable tooltips on hover
                    }
                }
            });

            chartInstances['tankChart_' + tank.id] = chart;
            
        });
    }
    
    function updateSpecificTankChart(newTankData) {
        var chartElement = $(`#tankChart_${newTankData.id}`);
        if (!chartElement) {
            console.error('Chart element not found for ID ' + chartId);
            return;
        }

        // Destroy the existing chart if it exists
        if (chartInstances[`tankChart_${newTankData.id}`]) {
            chartInstances[`tankChart_${newTankData.id}`].destroy();
        }

        var chart = new Chart(chartElement, {
            type: 'doughnut',
            data: {
                labels: ['Filled', 'Empty'],
                datasets: [{
                    data: [newTankData.percentage, 100 - newTankData.percentage],
                    backgroundColor: [secondaryColor, 'lightgray'],
                }]
            },
            options: {
                title: {
                    display: true,
                    text: newTankData.name,
                },
                legend: {
                    display: true,
                },
                plugins: {
                    datalabels: {
                        display: true,
                        formatter: function(value, context) {
                            return context.chart.data.labels[context.dataIndex] + ': ' + value + '%';
                        },
                        color: 'white',
                    }
                },
                tooltips: {
                    enabled: false, // Disable tooltips on hover
                }
            }
        });
        
        chartInstances['tankChart_' + newTankData.id] = chart;
    }

    function updatePumpStatus(message){

        // Specify the target topic
        var targetTopic = message?.topic;

        // Select all spans with the specified data-pump-topic attribute
        var $spans = $('span[data-pump-topic="' + targetTopic + '"]');

        // Update the content of the selected spans
        $spans.text(message?.data);  
        
        
        // Find the corresponding button element(s) by the data-pump-topic attribute
        var $buttons = $('button[data-pump-topic="' + targetTopic + '"]');

        // Check the content of the <span> element and update the button(s) class
        if (message?.data === 'On') {
            $buttons.removeClass('btn-danger').addClass('btn-success');
        } else {
            $buttons.removeClass('btn-success').addClass('btn-danger');
        }
    }

    // Start the initial WebSocket connection
    connectWebSocket();

    // Start initial WaterTanks Data
    setTanksData();


    // Toogle Pump
    $('.tank-chart button').on('click', function () {
        var $button = $(this);
        var topic = $button.data('pump-topic');

        var $spans = $('span[data-pump-topic="' + topic + '"]');
        var firstSpanId = $spans[0].id;
        var currentStatus = $(`#${firstSpanId}`).text();

        if (topic.endsWith('PumpStatus')) {
            let topicParts = topic.split("/");

            if (topicParts.length > 0){
                // let pumpTopic = topicParts[topicParts.length - 2];
                let message = {
                    'action' : 'TooglePump',
                    'pumpTopic' : topic,
                    'currentStatus': currentStatus,
                };
                sendMessage(message);
            }
        }

    });








    document.querySelector('#account-message-input').focus();
    document.querySelector('#account-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#account-message-submit').click();
        }
    };

    document.querySelector('#account-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#account-message-input');
        const message = messageInputDom.value;
        sendMessage(message);
        messageInputDom.value = '';
    };

</script>
{% endblock %}

