{% extends 'base.html' %}

{% block title %}SMART WATER TANK - WELCOME PAGE {% endblock %}

{% block content %}
<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Monitor. Control. Save Water Loss</h1>
                <h6 class="text-center">platform for automating water tank filling on your finger tips</h6>
            </div>
        </div>
    </div>    
</section>

<section class="featured-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="custom-block custom-block-overlay">
                    <div class="d-flex flex-column h-100">
                        <div class="custom-block-overlay-text d-flex">
                            <div>
                                <h3 class="text-white mb-2">How does it work?</h3>
                                <p class="text-white">We get your tanks filled automatically while your are taking a cup of tea........</p>
                                <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                            </div>
                            <span class="badge bg-finance rounded-pill ms-auto">25</span>
                        </div>
                        <div class="section-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5">Get in touch with us</h2>
            </div>

            <div class="col-lg-8 col-md-8 col-12 mb-4 mb-lg-0">
                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.677198247095!2d39.21932697451801!3d-6.809063293188493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c494ede5f653b%3A0xd7d47c0dde3bbfcc!2sNational%20Institute%20of%20Transport!5e0!3m2!1sen!2stz!4v1694270645149!5m2!1sen!2stz" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-4 col-md-4 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
                <h4 class="mb-3">Head office</h4>
                <p>National Institute of Transport, Mabibo Road, Dar es Salaam, Tanzania</p>
                <hr>
                <p class="d-flex align-items-center mb-1">
                    <span class="me-2">Phone</span>
                    <a href="tel: +2557558008000" class="site-footer-link">+2557558008000</a>
                </p>
                <p class="d-flex align-items-center">
                    <span class="me-2">Email</span>
                    <a href="mailto:info@company.com" class="site-footer-link">info@smartwatertank.com</a>
                </p>
            </div>
        
        </div>
    </div>
</section>
{% endblock %}
